@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --red-color: #8E2424;
    --gray-font-color: #667085;
    --black-font-color: #101828;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    height: 100vh;
    width: 100% ;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;    
    gap: 2rem;  
}

nav ul li a{
    text-decoration: none;
    font-weight: 500;
    color: var(--gray-font-color);
}

.buttons{
    display: flex;
    align-items: center;
    gap: 12px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27px;
    width: 47px;
    padding: 0.7rem 1.1rem;
    font-size: 16px;
    height: 500;   
     background: none;
    border: none;
    border-radius: 0.5rem;
    color: var(--gray-font-color);
    cursor: pointer;
}

button#button-cadastrar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 47px;
    width: 112px;
    background: var(--red-color);
    padding: 0.7rem 1.1rem;    
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 0.5rem;
    font-size: 16px;
    height: 500;
    color: #FFFFFF;
    cursor: pointer;
}

/* ========================= */

.sobre-nos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 407px;
    width: 100%;
}

.sobre-nos-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre-nos span{
    font-weight: 600;
    color: var(--red-color);
    margin-bottom: 24px;
}

.sobre-nos h1{
    font-size: 3rem;
    font-weight: 600;
    color: var(--black-font-color);
    margin-bottom: 36px;
}

.sobre-nos p{
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    line-height: 2rem;
    color: var(--gray-font-color); 
}

/* ========================= */

.metricas-container{
    display: flex;
    justify-content: center;
    height: 288px;
    width: 100%;
    gap: 2rem;
}

.metrica p{
    font-size: 60px;
    font-weight: 600;
    color: #8E2424;
    margin-bottom: 12px;
}

.metrica-texto{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.metrica-texto span{
   font-size: 18px;
   font-weight: 500;
   color: #101828;
}

.metrica-texto p{
    font-size: 16px;
    font-weight: 400;
    color:#667085;
}

/* ========================= */

.vagas{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1798px;
    width: 100%;
}

.vagas-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 96px;
}

.container-spanBase{
    height: 28px;
    width: 125px;
    border: none;
    border-radius: 16px;
    margin-bottom: 16px;
    padding: 4px 12px;
    background: rgba(142, 36, 36, 0.05);
}

.container-spanBase span{
    font-size: 14px;
    font-weight: 500;
    color: #8E2424;
}

.vagas-heading{
    font-size: 36px;
    font-weight: 600;
    color: #101828;
    margin-bottom: 20px;
}
.vagas-supportingTxt{
    font-size: 20px;
    font-weight: 400;
    color:#667085;
    margin-bottom: 64px;
}

.vagas img{
    height: 400px;
    width: 100%;
    padding: 0px 112px;
}

.vagas-container-campos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0px 299px;
}

.vagas-opcoes{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.vaga-tipo{
    font-size: 20px;
    font-weight: 500;
    color: #101828;
    margin-top: 64px;
    margin-bottom: 32px;
}
.vaga-campos{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.vaga-campo{
    display: flex;
    flex-direction: column;
    height: 136px;
    border: 1px solid #EAECF0;
    border-radius: 16px;
    padding: 24px;
    cursor: pointer;
}

.vaga-nome{
    font-size: 18px;
    font-weight: 500;
    color: #101828;
    margin-bottom: 32px;
}

.vaga-infos{
    display: flex;
    gap: 24px;
}

.vaga-infos span{
    font-size: 16px;
    font-weight: 500;
    color: #667085;
}

/* ========================= */

.depoimentos{
    display: flex;
    justify-content: center;
    height: 500px;
    width: 100%;
    padding: 0 112px;
}

.depoimentos-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 404px;
    width: 100%;
    padding: 0 50px;
    background: rgba(195, 25, 25, 0.03);
}

.depoimentos-texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
}

.depoimentos-texts span{
    font-size: 14px;
    font-weight: 600;
    color: #8E2424;
    margin-bottom: 16px;
}

.depoimentos-texts p{
    font-size: 33px;
    font-weight: 500;
    color: #101828;
    margin-bottom: 32px;
    text-align: center;
}
.depoimentos-attribuition{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.depoimentos-attribuition img{
    margin-bottom: 16px;
}

.depoimentos-text-supporting{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.depoimento-nome{
    font-size: 16px;
    font-weight: 500;
    color: #101828;
    margin-bottom: 4px;
}

.depoimento-supporting{
    font-size: 14px;
    font-weight: 400;
    color: #667085;
}

/* ========================= */

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 430px;
    width: 100%;
    background: #F9FAFB;
}

.footer-texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.footer-cta{
    font-size: 36px;
    font-weight: 600;
    color: #101828;
    margin-bottom: 20px;
}

.footer-supporting{
    font-size: 20px;
    font-weight: 400;
    color: #667085;
}

.footer-actions{
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 32px;
}

.footer-actions label input[type="email"]{
    height: 48px;
    width: 360px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);;
}

.footer-actions button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 116px;
    padding: 12px 20px;
    border: 1px solid #8E2424;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    background: #8E2424;
    cursor: pointer;
}

.copyright{
    font-size: 16px;
    font-weight: 400;
    color: #667085;
}






