@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
}

.NavBar{
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 0px 112px;
}

.logo-empresa{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.NavBar img{
    width: 27px;
    height: 27px;
    margin-right: 8px;
}

.NavBar p{
    font-size: 18px;
    font-weight: 500;
    color: #3A404E;
}

.NavBar ul{
    display: flex;
    align-items: center;
    gap: 32px;
    margin: 0 345px 0 119px;
    list-style: none;
}

.NavBar ul li:last-child{
    width: 78px;
}

.NavBar ul li a{
    font-weight: 500;
    text-decoration: none;
    color: #667085;
}

.buttons-nav{
    display: flex;
    align-items: center;
    gap: 12px;
}

.button-nav-1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27px;
    width: 47px;
    padding: 10px 18px;
    font-size: 16px;
    height: 500;
    color: #667085;
    background: none;
    border: none;
    cursor: pointer;
}

.button-nav-2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 47px;
    width: 112px;
    padding: 10px 18px;
    font-size: 16px;
    height: 500;
    color: #FFFFFF;
    background: #8E2424;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    border: 1px solid #8E2424;
    cursor: pointer;
}

/* ========================= */

.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 407px;
    width: 100%;
}

.cabecalho-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho-subheading{
    font-size: 16px;
    font-weight: 600;
    color: #8E2424;
    margin-bottom: 24px;
}

.cabecalho-heading{
    font-size: 48px;
    font-weight: 600;
    color: #101828;
    margin-bottom: 36px;
}

.cabecalho-supportingTxt{
    font-size: 20px;
    font-weight: 400;
    color: #667085;
    text-align: center;
}

/* ========================= */

.metricas{
    display: flex;
    justify-content: center;
    height: 288px;
    width: 100%;
    padding: 0 112px;
    gap: 32px;
}

.number{
    font-size: 60px;
    font-weight: 600;
    color: #8E2424;
    margin-bottom: 12px;
}

.text-head{
   font-size: 18px;
   font-weight: 500;
   color: #101828;
   margin-bottom: 8px;
}

.text-sup{
    font-size: 16px;
    font-weight: 400;
    color:#667085;
}

/* ========================= */

.vagas{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1798px;
    width: 100%;
}

.vagas-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 96px;
}

.container-spanBase{
    height: 28px;
    width: 125px;
    border: none;
    border-radius: 16px;
    margin-bottom: 16px;
    padding: 4px 12px;
    background: rgba(142, 36, 36, 0.05);
}

.container-spanBase span{
    font-size: 14px;
    font-weight: 500;
    color: #8E2424;
}

.vagas-heading{
    font-size: 36px;
    font-weight: 600;
    color: #101828;
    margin-bottom: 20px;
}
.vagas-supportingTxt{
    font-size: 20px;
    font-weight: 400;
    color:#667085;
    margin-bottom: 64px;
}

.vagas img{
    height: 400px;
    width: 100%;
    padding: 0px 112px;
}

.vagas-container-campos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0px 299px;
}

.vagas-opcoes{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.vaga-tipo{
    font-size: 20px;
    font-weight: 500;
    color: #101828;
    margin-top: 64px;
    margin-bottom: 32px;
}
.vaga-campos{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.vaga-campo{
    display: flex;
    flex-direction: column;
    height: 136px;
    border: 1px solid #EAECF0;
    border-radius: 16px;
    padding: 24px;
    cursor: pointer;
}

.vaga-nome{
    font-size: 18px;
    font-weight: 500;
    color: #101828;
    margin-bottom: 32px;
}

.vaga-infos{
    display: flex;
    gap: 24px;
}

.vaga-infos span{
    font-size: 16px;
    font-weight: 500;
    color: #667085;
}

/* ========================= */

.depoimentos{
    display: flex;
    justify-content: center;
    height: 500px;
    width: 100%;
    padding: 0 112px;
}

.depoimentos-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 404px;
    width: 100%;
    padding: 0 50px;
    background: rgba(195, 25, 25, 0.03);
}

.depoimentos-texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
}

.depoimentos-texts span{
    font-size: 14px;
    font-weight: 600;
    color: #8E2424;
    margin-bottom: 16px;
}

.depoimentos-texts p{
    font-size: 33px;
    font-weight: 500;
    color: #101828;
    margin-bottom: 32px;
    text-align: center;
}
.depoimentos-attribuition{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.depoimentos-attribuition img{
    margin-bottom: 16px;
}

.depoimentos-text-supporting{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.depoimento-nome{
    font-size: 16px;
    font-weight: 500;
    color: #101828;
    margin-bottom: 4px;
}

.depoimento-supporting{
    font-size: 14px;
    font-weight: 400;
    color: #667085;
}

/* ========================= */

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 430px;
    width: 100%;
    background: #F9FAFB;
}

.footer-texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.footer-cta{
    font-size: 36px;
    font-weight: 600;
    color: #101828;
    margin-bottom: 20px;
}

.footer-supporting{
    font-size: 20px;
    font-weight: 400;
    color: #667085;
}

.footer-actions{
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 32px;
}

.footer-actions label input[type="email"]{
    height: 48px;
    width: 360px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);;
}

.footer-actions button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 116px;
    padding: 12px 20px;
    border: 1px solid #8E2424;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    background: #8E2424;
    cursor: pointer;
}

.copyright{
    font-size: 16px;
    font-weight: 400;
    color: #667085;
}






